
.imgWrap{
    display: inline-block;
    transition: all 0.2s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
img{
    transition: all 0.2s;
}
.imgWrap:hover{
    background: url('./images/quickx-video-play-icon.png') rgba(0, 0, 0, 0.9);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.02);
}
img:hover,
.imgWrap:hover img {
    opacity: 0.3;
}
.fa-arrow-circle-down{
    position: relative;
    top: 0;
    animation: example linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes example {
    from {top: 0;}
    to {top: 20px;}
    0%   {top: 0;}
    25%  {top: 10px;}
    50%  {top: 20px;}
    75%  {top: 10px;}
    100% {top: 0;}
}
    
